DATABASE_URL=mysql://root:password@localhost:3306/nextjs_job_portal
UPLOADTHING_TOKEN='eyJhcGlLZXkiOiJza19saXZlX2JkNzg3MTA3Njk1ZWQ3YzQxNjZhM2QxOThkZTNhNTY3YzNiNTZkNGQzMjg0NjI3OTM0YTZmMWFkODU1MWMzOGYiLCJhcHBJZCI6ImJkcDg5ZzRmdnUiLCJyZWdpb25zIjpbInNlYTEiXX0='